.cm-widget input.large{
	width:84%;
}
.cm-input{
	clear:both;
}
.cm-input .dashicon{
	float:right;
	max-width:7%;
	height:27px;
	width:27px;
	line-height: 27px;
	cursor: pointer;
	text-align: center;
	border:1px solid #fff;
}
.cm-input .dashicon:before{
	vertical-align: middle;
	text-align: center;
}
.cm-input .dashicon:hover{
	border:1px solid #888;
	border-radius: 3px;
}
.cm-input .dashicons-plus:hover{
	color:green;
}
.cm-input .dashicons-minus:hover{
	color:red;
}