.marquee{
	height: 32px;
	font-size: 22px;
	font-style: italic;
	font-weight: 600;
	color: white;
	text-shadow: -1px 2px 3px #4d4d4d;
	line-height: 22px;
	border-radius: 7px 7px 7px 7px;
	list-style: none outside none;
	margin: 0 0 20px 0;
	padding: 6px 0 0 0;
	vertical-align: text-bottom;
	overflow: hidden;
}
.mchildstyle{
	width:700px;
	text-align: center;
}
