/* Body CSS */
body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px 0px;
	background:#fff;
	color:#4e5c76;
}
#wrapper {
	width:960px;
	margin:auto;
	overflow:visible;
}
#header {
	width:100%;
	height:47px;
	background-image:url(../img/header-bg.jpg);
	background-repeat:repeat-x;
}
#header .headerWrapper {
	width:960px;
	margin:auto;
}
#header .headerWrapper .fusiondevs_logo {
	margin:3px 0px;
	border:none;
}
.fhover_logo {
	margin-bottom:5px;
}

a {
	text-decoration:none;
	border:none;
}


.page_row {
	overflow:visible;
	clear:both;
	padding:0px;
	margin:0px 0px 0px 0px;
}
.page_row.title_row {
	text-align:center;
}
.page_row h1 {
	width:940px;
	background-color:#000000;
	color:#FFFFFF;
	font-size:20px;
	text-align:left;
	padding:4px 10px;
}
.text_row {
	text-align:justify;
	font-size:16px;
}

/* Marquee */
.marquee {
	font-family: 'Michroma', arial, serif;
	margin-bottom:20px;
}
.intro {
	font-size:34px;
	width:700px;
	text-align:center;
}

/* Tabla */
#tabla_options {
	width:100%;
}
#tabla_options tr.odd td {
	background:#EBEBEB;
}
#tabla_options tr.even td {
	background:#FFF;
}
#tabla_options tr td.option {
	width:150px;
	font-weight:bold;
	/* vertical-align:top; */
	text-align:left;
	padding:5px 10px;
}
#tabla_options tr td.desc {
	padding:0 5px;
	text-align:left;
}